# Ignora variáveis de ambiente
.env

# Ignora dependências
node_modules/

# Ignora arquivos de log e temporários
logs/
*.log
*.tmp

# Ignora editor configs (VSCode, etc)
.vscode/
*.swp

# Ignora arquivos de build
dist/
build/